// Example of project-name.scss
// Define variables to override default ones
$primary-color: #F4BA47;
$dark-color: rgb(46, 46, 46);

// Import full Spectre source code
@import "../node_modules/spectre.css/src/spectre";

#app:first-child {
  padding-top: 0.85rem;
}

#app {
  border-top-style: solid;
  border-top-width: 0.3rem;
  border-top-color: $primary-color;
}

#site-header {
  margin-bottom: 2.0rem;
}

.navbar-brand {
  color: $dark-color;
}

.navbar .btn-link {
  color: $dark-color;
}

.navbar .btn-link.active span {
  padding-bottom: 0.6rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-bottom-style: solid;
  border-bottom-color: $primary-color;
  border-bottom-width: 0.2rem;

  color: $dark-color;
  font-weight: 600;
}

// Ripped from the Spectre docs
.section-hero {
  padding: 1rem .5rem;
}

.section-hero .docs-brand {
  position: absolute;
  top: .85rem;
}

.section-hero .docs-brand h2 {
  color: #5755d9;
}

.section-hero .column {
  padding: .4rem;
}

.section-updates {
  padding: 4.5rem .5rem 3.5rem .5rem;
}

.section-updates .card {
  border: 0;
  color: #727e96;
  margin-bottom: 1rem;
}

.section-features {
  padding: 4.5rem .5rem;
}

.section-features .column {
  padding: .4rem;
}

.section-footer {
  color: #acb3c2;
  padding: 1.8rem .75rem 1rem .75rem;
  position: relative;
  z-index: 200;
}

.section-footer a {
  color: #667189;
}
