// Variables are loaded by webpack. See util.js.

// Import full Spectre source code
@import "../node_modules/spectre.css/src/spectre";

html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}
